{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>KRUI DJ3 - {% block browser_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	{% if user.get_profile.role %}

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand" href='{% url 'dj3:manage' %}'>Manage DJ3</a>
        </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% comment %}
					GM, PD can view Programming section
				{% endcomment %}
				{% if user.get_profile.role == 1 or user.get_profile.role == 2 %}
				
				<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Programming<b class="caret"></b></a>
              		<ul class="dropdown-menu">
                		<li><a href="#">Schedule Programming</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Reports</li>
						<li><a href="#">Attendance Reports</a></li>
						<li><a href='{% url 'dj3:new_sub_request' %}'>Sub Request Reports</a></li>
              		</ul>
				</li>
	
			
			
				{% endif %}
				{% comment %}
					GM, IT, Ops can view/modify user section
				{% endcomment %}
				{% if user.get_profile.role == 1 or user.get_profile.role == 4 or user.get_profile.role == 5 %}
					<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
              		<ul class="dropdown-menu">
						<li><a href="#">User List</a></li>
						<li><a href="#">Modify Contact Information</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Reports</li>
						<li><a href="#">Inactive User Report</a></li>
              		</ul>
				</li>

					
					
					{% endif %}
	      </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Inbox (0)</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Forms</li>
                <li><a href="#">Create Support Ticket</a></li>
				<li><a href='{% url 'dj3:new_sub_request' %}'>Create Sub Request</a></li>
              </ul>
			</li>
			<li><a href='{% url 'dj3:playlist' %}'>Back To DJ3</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- All views in Django are automatically enclosed within a container that can be divided up inside the view --> 
    <div class="container">
		
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center">{% block page_title %} {% endblock %}</h1>
		</div>
	</div>
		
	{% block content %} 
	{% endblock %}
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	
	{% else %}
		<p><strong>You do not have permission to view this page.</strong></p>
	{% endif %}
</body>
</html>

